build
docs
coverage
*.cache
.idea/
/.env

# Composer
/composer.lock
/vendor/
/vendor-bin/**/composer.lock
/vendor-bin/**/vendor/

# PHPUnit
/phpunit.xml

# PHPStan
/phpstan.neon

# PHP CS Fixer
/.php-cs-fixer.php
/.php-cs-fixer.cache
